*.iml
.gradle
/local.properties
.idea/
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
.kotlin/
/docs/.obsidian/plugins/marp-slides/lib3/markdown-it/@kazumatu981/markdown-it-kroki/tests/unittest/plugin-core.setOptions.test.js
