<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-feature android:name="android.hardware.camera" android:required="false" />
    <uses-feature android:name="android.hardware.camera.flash" android:required="false" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.KastenDerPandora">
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".SettingsActivity" />
        <activity android:name=".LightActivity" />
        <activity android:name=".RulerActivity" />
        <activity android:name=".CounterActivity" />
        <activity android:name=".ClockActivity" />
        <activity android:name=".CalculatorActivity" />
        <activity android:name=".ProtractorActivity" />
        <activity android:name=".SpiritLevelActivity" />
        <activity android:name=".DecibelMeterActivity" />
        <activity android:name=".CompassActivity" />
        <activity android:name=".SirenActivity" />
        <activity android:name=".MagnifyingGlassActivity" />
        <activity android:name=".VoiceRecorderActivity" />
        <activity android:name=".LumenMeterActivity" />
        <activity android:name=".CameraActivity" />
        <activity android:name=".AudioSpectrumActivity" />
    </application>

</manifest>